<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" shutdownHook="disable">
    <Appenders>

        <!-- The default console appender -->
        <Console label="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%-7level{TRACE=[TRACE], DEBUG=[DEBUG], INFO=[INFO], WARN=[WARN], ERROR=[ERROR], FATAL=[FATAL]} %d{ABSOLUTE} - %msg%n%ex{full}" />
        </Console>

        <!-- A console appender without timestamp and exception details -->
        <Console label="ConsoleTest" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%-7level{TRACE=[TRACE], DEBUG=[DEBUG], INFO=[INFO], WARN=[WARN], ERROR=[ERROR], FATAL=[FATAL]} %msg%n" />
        </Console>

    </Appenders>

    <Loggers>

        <!-- Global -->

        <Root level="INFO">
            <AppenderRef ref="Console" />
        </Root>

        <!-- Logger for testing -->
        <Logger label="test" level="ALL" additivity="false">
            <AppenderRef ref="ConsoleTest" />
        </Logger>

        <!-- Reflections -->

        <Logger label="org.reflections" level="ERROR" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>

        <!-- Neo4j -->

        <Logger label="org.neo4j" level="ERROR" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>

        <!-- Apache & Hadoop/HBase -->

        <Logger label="org.apache" level="ERROR" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>

        <Logger label="org.mortbay" level="ERROR" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>

        <!-- HBase specific loggers -->

        <Logger label="SecurityLogger" level="ERROR" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>

        <Logger label="BlockStateChange" level="ERROR" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>

        <Logger label="NameNodeMetricsLog" level="ERROR" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>

        <Logger label="DataNodeMetricsLog" level="ERROR" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>

    </Loggers>
</Configuration>
